<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <main>

        <!-- container -->
        <div id='app' class="container">

            <!-- nav -->
            <div class="nav">
                <div class="user">
                    <div class="user-profile">
                        <img class="user-img" src="img/avatar_1.jpg" alt="">
                        <h5>Nome Utente</h5>
                    </div>
                    <div class="icons">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="notify">
                    <div class="bell">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div>
                        <h5>Ricevi notifiche di nuovi messaggi</h5>
                        <p>Attiva notifiche desktop
                        </p>
                    </div>
                </div>
                <div class="input">
                    <label for="chat"><i class="fas fa-search"></i></label>
                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                </div>
                <ul>
                    <li @click="changeContact(index)" class="contacts" v-for="(contact, index) in contacts" :class="(counter == index) ? 'active' : ''">
                            <img class="user-img" :src="`img/avatar${contact.avatar}.jpg`" alt="">
                        <div>
                            <h5>{{ contact.name }}</h5>
                            <p>{{ textView(index) }}</p>
                        </div>
                        <span>{{ dateView(index) }}</span>
                    </li>
                </ul>
            </div>

            <!-- right col -->
            <div class="right-col">
                <div class="user">
                    <div class="user-profile">
                        <img class="user-img" src="img/avatar_1.jpg" alt="">
                        <div>
                            <h5>{{ contacts[counter].name }}</h5>
                            <p class="fs_08">Ultimo accesso {{ dateView(counter) }}</p>
                        </div>
                    </div>
                    <div class="icons">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>

                <!-- chat -->
                <div class="chat">
                    <div v-for="(message, index) in contacts[counter].messages" :class="(message.status == 'sent') ? 'sent' : 'received'">
                        <h6>{{ message.text }}</h6>
                        <p>{{ message.date }}</p>
                    </div>
                </div>
                <div class="message">
                    <i class="far fa-smile"></i>
                    <input @keyup.enter="sendMessage(index)" v-model="newMessage" type="text" placeholder="Scrivi un messaggio">
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
        </div>
    </main>
    <script src="js/script.js"></script>
</body>
</html>